set -a

export project_id=<gcp project name>
export region=<gcp region>
export zone=< gcp zone>
export db_name=<database name>
export db_version=<database version>
export db_tier=<database tier>
export mlflow_docker_image=<europe-docker.pkg.dev/<project_id>/mlflow:latest>
export brand_name= <gcp brand>
export domain=< domain > # don't add the https:// or http:// to domain
export support_email=< support contact email>
webapp_users='user:user1@example.com,user:user2@example.com,user:user3@example.com'
export oauth_client_id=<oauth client id>
export oauth_client_secret=<oauth client secret value>
